#main {
    color: red;
    background-color: black;
}

#title {
    font-family:cursive
}

img {
  max-width: max-content;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

* {
  border: 1px solid white;
}

.box {
  margin: 20px;
  padding: 20px;
  border: 10px solid white;
}